################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ChangeFeedCosmosDB/obj
/.vs/ChangeFeedsCosmosDB/v15/Server/sqlite3
